altgraph==0.17.5
asgiref==3.11.1
bottle==0.13.4
cffi==2.0.0
click==8.3.3
clr_loader==0.3.1
colorama==0.4.6
dj-database-url==3.1.2
Django==6.0.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
gunicorn==25.1.0
joblib==1.5.3
langdetect==1.0.9
nltk==3.9.4
numpy==2.4.4
packaging==26.0
pefile==2024.8.26
pillow==12.1.1
proxy_tools==0.1.0
psycopg2-binary==2.9.12
pycparser==3.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
PyJWT==2.12.1
python-decouple==3.8
python-dotenv==1.2.2
pythonnet==3.1.0
pywebview==6.2.1
pywin32-ctypes==0.2.3
rank-bm25==0.2.2
regex==2026.5.9
scikit-learn==1.8.0
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.3
whitenoise==6.12.0
